body{
    text-align: center;
}

textarea{
    border: 2px outset gray;
    border-radius: 5%;
    margin: 1em;
}

input[type="submit"]{
    background-color:rgba(93, 14, 130, 0.97);
    border-radius:6px;
    color: white;
    font-weight: bolder;
    width:8em;
    padding: 0.5em 1em;
  }
 input[type="submit"]:hover{
    transition: 0.5 ease;
    border:1px inset rgba(93, 14, 130, 0.97);
    background-color:rgba(93, 14, 130, 0.97);
  }